---
import portrait from "../../assets/images/portrait.jpg";
import { Image } from "astro:assets";

const basePath = import.meta.env.BASE_URL;
---

<section id="o-meni" class="py-24 sm:py-32 relative">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 relative z-10 text-background">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <!-- Content -->
      <div class="space-y-8">
        <div class="space-y-4">
          <span class="subheading">O meni</span>
          <h2 class="section-heading">Advokat koji gradi praksu na posvećenosti i odgovornosti</h2>
          <p class="text-lg leading-8 prose prose-lg max-w-full">
            U skladu sa svojim kućnim vaspitanjem, moralnim ubeđenjima i pravnim obrazovanjem, smatram da advokatura nije samo zaštita pojedinaca, već
            i odbrana vrednosti na kojima jedno društvo počiva. Samim tim, moje lično i profesionalno opredeljenje je da u vremenu u kojem je glas
            razuma sve potrebniji, moje delovanje bude odgovorno, stručno, savesno, transparentno, pravovremeno i pošteno.
          </p>
        </div>

        <div class="space-y-6">
          <div class="flex items-start lg:items-center gap-3">
            <div class="flex-shrink-0">
              <div class="rounded-lg flex items-center justify-center">
                <svg
                  id="fi_2778395"
                  enable-background="new 0 0 512 512"
                  height="512"
                  viewBox="0 0 512 512"
                  width="512"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="w-10 h-10 text-primary">
                  <g>
                    <path
                      d="m408.602 482v-302.269l43.915-43.915v-135.816h-113.777v62.354h-25.852v-62.354h-113.777v62.354h-25.851v-62.354h-113.777v135.816l43.915 43.915v302.269h-55.552v30h416.309v-30zm-319.119-358.611v-93.389h53.776v62.354h85.852v-62.354h53.777v62.354h85.852v-62.354h53.776v93.389l-35.128 35.129h-262.776zm43.915 65.129h245.203v293.482h-54.476v-130.968h-136.251v130.968h-54.476zm160.728 293.482h-76.252v-100.968h76.252z">
                    </path>
                  </g>
                </svg>
              </div>
            </div>
            <div>
              <h3 class="text-lg font-semibold text-gray-800 uppercase tracking-wider">Sigurnost</h3>
              <p class="text-gray-600 mt-1">
                Moj cilj je da budem sigurna podrška u svakoj pravnoj situaciji. Verujem da poverenje i posvećenost stvaraju zaštitu na koju uvek
                možete da se oslonite.
              </p>
            </div>
          </div>

          <div class="flex items-start lg:items-center gap-3">
            <div class="flex-shrink-0">
              <div class="rounded-lg flex items-center justify-center">
                <svg
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  height="512"
                  stroke-linejoin="round"
                  stroke-miterlimit="2"
                  viewBox="0 0 24 24"
                  width="512"
                  xmlns="http://www.w3.org/2000/svg"
                  id="fi_7542074"
                  fill="currentColor"
                  class="w-10 h-10 text-primary">
                  <g id="Icon">
                    <path
                      d="m11.5 20.263h-8.55c-.053 0-.104-.022-.141-.059-.038-.038-.059-.088-.059-.141v-1.451c0-.83.593-1.562 1.507-2.184 1.632-1.114 4.273-1.816 7.243-1.816.414 0 .75-.336.75-.75 0-.413-.336-.75-.75-.75-3.322 0-6.263.831-8.089 2.076-1.393.95-2.161 2.157-2.161 3.424v1.451c0 .45.179.883.498 1.202.319.318.751.498 1.202.498h8.55c.414-.001.75-.337.75-.751 0-.413-.336-.75-.75-.749z">
                    </path><path
                      d="m11.5 1.25c-3.036 0-5.5 2.464-5.5 5.5s2.464 5.5 5.5 5.5 5.5-2.464 5.5-5.5-2.464-5.5-5.5-5.5zm0 1.5c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z">
                    </path><path
                      d="m17.5 12.25c-2.898 0-5.25 2.352-5.25 5.25s2.352 5.25 5.25 5.25 5.25-2.352 5.25-5.25-2.352-5.25-5.25-5.25zm0 1.5c2.07 0 3.75 1.68 3.75 3.75s-1.68 3.75-3.75 3.75-3.75-1.68-3.75-3.75 1.68-3.75 3.75-3.75z">
                    </path><path
                      d="m15.084 18.374 1.5 1c.297.198.694.159.946-.094l2.5-2.5c.293-.292.293-.768 0-1.06-.292-.293-.768-.293-1.06 0l-2.066 2.065s-.988-.659-.988-.659c-.344-.23-.81-.136-1.04.208s-.136.81.208 1.04z">
                    </path>
                  </g>
                </svg>
              </div>
            </div>
            <div>
              <h3 class="text-lg font-semibold text-gray-800 uppercase tracking-wider">Pristupačnost</h3>
              <p class="text-gray-600 mt-1">
                Verujem u transparentnost i direktnu komunikaciju. Svaki klijent dobija personalizovan pristup i redovne informacije o napretku
                njegovog slučaja.
              </p>
            </div>
          </div>

          <div class="flex items-start lg:items-center gap-3">
            <div class="flex-shrink-0">
              <div class="rounded-lg flex items-center justify-center">
                <svg
                  id="fi_6964169"
                  enable-background="new 0 0 512 512"
                  height="512"
                  viewBox="0 0 512 512"
                  width="512"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="w-10 h-10 text-primary">
                  <path
                    d="m512 154.75c0-24.813-20.187-45-45-45h-80v-32.277c0-26.039-21.184-47.223-47.222-47.223h-167.555c-26.039 0-47.223 21.184-47.223 47.223v32.277h-80c-24.813 0-45 20.187-45 45v70.997c0 13.23 4.308 29.729 20 45.913v165.09c0 24.813 20.187 45 45 45h382c24.813 0 45-20.187 45-45v-165.09c15.685-16.175 20-32.669 20-45.913zm-357-77.277c0-9.497 7.726-17.223 17.223-17.223h167.556c9.496 0 17.222 7.726 17.222 17.223v32.277h-202.001zm-125 77.277c0-8.271 6.729-15 15-15h422c8.271 0 15 6.729 15 15v70.997c0 36.908-70.808 67.027-174 74.918v-13.915c0-8.284-6.716-15-15-15h-74c-8.284 0-15 6.716-15 15v13.91c-103.099-7.901-174-38.099-174-74.913zm248 147v19.5c0 10.752-8.748 19.5-19.5 19.5h-5c-10.752 0-19.5-8.748-19.5-19.5v-19.5zm169 150h-382c-8.271 0-15-6.729-15-15v-143.075c44.664 22.887 91.602 31.712 154.936 37.138 4.469 22.732 24.542 39.937 48.564 39.937h5c24.024 0 44.098-17.207 48.565-39.941 52.317-3.789 99.546-13.392 134.031-27.346 7.755-3.138 14.692-6.416 20.904-9.791v143.078c0 8.271-6.729 15-15 15z">
                  </path>
                </svg>
              </div>
            </div>
            <div>
              <h3 class="text-lg font-semibold text-gray-800 uppercase tracking-wider">Stručnost</h3>
              <p class="text-gray-600 mt-1">
                Kontinuirano se usavršavam kroz edukacije i praćenje najnovijih zakonskih izmena kako bih pružio najbolje moguće usluge.
              </p>
            </div>
          </div>
        </div>

        <!-- CTA Button -->
        <div class="pt-4">
          <a
            href={`${basePath}o-meni`}
            class="inline-flex items-center px-6 py-3 border border-transparent text-lg font-medium rounded-lg text-background bg-primary hover:bg-primary/90 transition-colors duration-200">
            Saznajte više o meni <span aria-hidden="true" class="ml-1">→</span>
          </a>
        </div>
      </div>

      <!-- Photo -->
      <div class="relative">
        <div class="relative overflow-hidden rounded-lg shadow-2xl">
          <!-- Portrait image -->
          <Image src={portrait} alt="Advokat Marković" class="w-full h-[600px] object-cover relative z-10" />
        </div>
      </div>
    </div>
  </div>
</section>
