---
import { navigation } from "../../data/navigation";
---

<footer class="bg-white">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav
      class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6"
      aria-label="Footer">
      {
        navigation.map((item) => (
          <a href={item.path} class="text-gray-600 hover:text-gray-900">
            {item.label}
          </a>
        ))
      }
    </nav>
    <p class="mt-10 text-center text-sm/6 text-gray-600">
      &copy; {new Date().getFullYear()} All rights reserved. Developed by MP.
    </p>
  </div>
</footer>
